section#beneficios
	.row
		.col-xs-12.col-sm-4.wow.slideInLeft
			.box
				.icono
					img(
						src='../landings/images/'+ beneficioIcono1
						alt=beneficio1
					)
				h2 #{beneficio1}
				p
					| #{beneficioParrafo1}.
		.col-xs-12.col-sm-4.wow.slideInUp
			.box
				.icono
					img(
						src='../landings/images/'+ beneficioIcono2
						alt=beneficio2
					)
				h2 #{beneficio2}
				p
					| #{beneficioParrafo2}.
		.col-xs-12.col-sm-4.wow.slideInRight
			.box
				.icono
					img(
						src='../landings/images/'+ beneficioIcono3 
						alt=beneficio3
					)
				h2 #{beneficio3}
				p
					| #{beneficioParrafo3}.