footer
	.row.center-xs.middle-sm
		.col-xs-12.col-sm-4.start-sm.col-md-3
			img.box.wow.slideInLeft(src='../landings/images/um.svg', alt='Universidad de Montemorelos')
		.col-xs-12.col-sm-1.center-sm.col-md-2
			.box
				.row.around-xs
					.col-xs.col-sm-12
						a(href=facebook)
							i.box.fab.fa-facebook-f.wow.bounceInUp
					.col-xs.col-sm-12
						a(href=instagram)
							i.box.fab.fa-instagram.wow.bounceInUp(data-wow-delay='.5s')
					.col-xs.col-sm-12
						a(href=telefono)
							i.box.fas.fa-phone.wow.bounceInUp(data-wow-delay='1s')
		.col-xs-12.col-sm-7.end-sm.col-md-7
			img.box.wow.slideInRight(
				src='../landings/images/slogan-'+carreramini +'.svg'
				alt=''+carreramini + ' UM'
			)
