section#fotos
	h2.wow.bounceInDown #{hashtag}
	.row
		.col-xs-12.col-sm-4.col-lg-2
			img.box.wow.fadeIn(
				src='../landings/images/'+foto1
				alt='Estudiar '+carreramini
			)
		.col-xs-12.col-sm-8.col-lg-4
			img.box.wow.fadeIn(
				src='../landings/images/'+foto2
				alt='Estudía '+carreramini
				data-wow-delay='.5s'
			)
		.col-xs-12.col-sm-4.col-lg-2
			img.box.wow.fadeIn(
				src='../landings/images/'+foto3 
				alt='estudio '+carreramini
				data-wow-delay='1s'
			)
		.col-xs-12.col-sm-4.col-lg-2
			img.box.wow.fadeIn(
				src='../landings/images/quote.svg'
				alt="Don't play what's there, play what's not there"
				data-wow-delay='1.5s'
			)
		.col-xs-12.col-sm-4.col-lg-2
			.tarjeta.wow.fadeIn(data-wow-delay='2s')
				img(
					src='../landings/images/'+foto4
					alt=altInstagram
				)
				.pie
					h3 #RealidadUM
					p #{pInstagram}