section#gracias
	.row
		.col-xs
			a.box(
				href='index.html'
			)
				i.fas.fa-arrow-left
				|  Regresar
	.row.center-xs
		.col-xs-12
			i.far.fa-check-circle.box.wow.bounceInDown
		.col-xs-12
			h1.box.wow.flipInX(
				data-wow-delay=".5s"
			) 
				| ¡GRACIAS!
		.col-xs-12
			p.box.wow.slideInUp(
				data-wow-delay="1s"
			)
				| Recibiras más información en breve en tu bandeja de correo
		.col-xs-12.wow.slideInUp(
			data-wow-delay="1.5s"
		)
			a.button(
				href='../landings/PlanesARTCOM.pdf'
			) 
				| Descargar plan de estudios